@charset "UTF-8";

.programming {
	-webkit-transition: background-image 0.4s ease;
	transition: background-image 0.4s ease;
	margin: 0 auto;
	background-image: url("../images/programming.png");
	width: 70px;
	height: 70px;
	background-size: cover;
}

.service-thumb:hover .programming {
	background-image: url("../images/programming2.png");
	background-size: cover;
}

.linux {
	-webkit-transition: background-image 0.4s ease;
	transition: background-image 0.4s ease;
	margin: 0 auto;
	background-image: url("../images/linux.png");
	width: 70px;
	height: 70px;
	background-size: cover;
}

.service-thumb:hover .linux {
	background-image: url("../images/linux2.png");
	background-size: cover;
}

.researching {
	-webkit-transition: background-image 0.4s ease;
	transition: background-image 0.4s ease;
	margin: 0 auto;
	background-image: url("../images/researching.png");
	width: 70px;
	height: 70px;
	background-size: cover;
}


.service-thumb:hover .researching {
	background-image: url("../images/researching2.png");
	background-size: cover;
}

.cloudcomp {
	-webkit-transition: background-image 0.4s ease;
	transition: background-image 0.4s ease;
	margin: 0 auto;
	background-image: url("../images/cloudcomp.png");
	width: 70px;
	height: 70px;
	background-size: cover;
}

.service-thumb:hover .cloudcomp {
	background-image: url("../images/cloudcomp2.png");
	background-size: cover;
}

.student {
	-webkit-transition: background-image 0.4s ease;
	transition: background-image 0.4s ease;
	margin: 0 auto;
	background-image: url("../images/student.png");
	width: 70px;
	height: 70px;
	background-size: cover;
}

.service-thumb:hover .student {
	background-image: url("../images/student2.png");
	background-size: cover;
}

.navbar-left {
	float: left;
	color: #333;
	font-size: 13px;
	line-height: 22px;
	/*padding: 20px 15px;*/
	display: none;
	font-weight: 500;
}

.circle-image img{
	/*display: block;*/
	border-radius: 100%;
	width: 50px;
	margin: 6px;
}

.left-name {
	float: right;
	display: block;
	color: #333;
	font-size: 13px;
	line-height: 22px;
	padding: 20px 15px;
}

.my-hidden-class {
	display: block;
	-webkit-transition: all ease-in-out 0.4s;
	transition: all ease-in-out 0.4s;
}